html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* This makes the main content take the available space */
    padding-bottom: 60px; /* Space for the footer */
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
